<html>

	<head>
		<meta charset="utf-8">
			{{> scripts}}
				
	</head>
	<body>
	
	
	 <div id="wrapper">
	
	 
		 {{> navigation}}
		 

		
		<div id="page-wrapper">

				<div class="container-fluid">

					

					<div class="row">
						<div class="col-lg-6 col100">
								
									<form action="/filmesBusca" method="GET">
											 <div class="row">
									                    <div class="col-lg-12">
									                        <h1 class="page-header">
									                           Busca Filmes
									                        </h1>
									                        <ol class="breadcrumb">
									                            <li>
									                                <div class="form-group input-group">
										                                <input type="text" class="filmesBusca form-control" >
										                                <span class="input-group-btn">
										                                	<button class="btn-filmeBusca btn btn-default" type="button">
										                                		<i class="fa fa-search busca"  ></i>
										                                	</button>
										                                </span>
										                            </div>

									                            </li>
									                            
									                        </ol>
									                    </div>
									              </div>
								
											<div class="table-responsive minhaTable">
												<table class="table table-bordered table-hover table-striped  minhaTD" >
													<thead>
														<tr>
															<th>Nome</th>
															<th>Ano de Lancamento</th>
															<th>Genero</th>
															<th>Sinopse</th>
															<th>Poster</th>
															<th>Media de Notas</th>
														</tr>
													</thead>
													<tbody>
																  
														{{#listafilmes}}
															<tr>
																<td class="filme "  idF="{{id}}">
																	{{nome}}
																</td> 
																<td>
																	{{ano}}
																</td> 
																<td> 
																	{{genero.descricao}}
																</td>
																<td >
																	{{sinopse}}
																</td>
																<td>
																	
																<img src="{{imagem}}" height="100" width="70" class="imagem"> </img>
																</td>
																
																
																<td  id="media{{id}}"  media="{{notaMedia}}" class="estrelas">
																
																</td>

																{{#removeFilme}}

																<td >
																	<input type="button" class="btn-remover  btn btn-default" id="botao" value="Remover" idFilme="{{id}}">
																		
																</td>

																{{/removeFilme}}
																
															</tr>
														 {{/listafilmes}}	
													</tbody>
												</table>
											</div>
											
								</form>
						 </div>
					</div>
					
					
					

				<!-- /.container-fluid   -->

			</div>
	
	
		
		</div>
		
	</div>
	{{> scripts2}}
	</body>
	
	
	
	<script>


	
			$(function(){
		$('.btn-filmeBusca').click(function(){
			
			buscar();

		});	
	})

	function buscar(){

		console.log("")
		$.ajax({

			url:'/filmesBusca?nome='+ $('.filmesBusca').val(),
			type:'POST'
		}).done(function() {
			location.reload();
			
		});
	}

	$(function(){
	
		inicializaEstrelas();
	
	})

	
	function inicializaEstrelas(){
		$('.estrelas').each(function(i, elemen ){
			var $elemen = $(elemen);
			var media = $elemen.attr('media');
		
			
			
			for (var i = 0; i< (5-media); i++) {
				$elemen.prepend('<img src="http://www.clker.com/cliparts/1/m/K/Y/P/x/star-grey-md.png" height="22" width="22" class="imagem"> </img>')
			}
			for (var i = 0; i< media; i++) {
				$elemen.prepend('<img src="http://www.clker.com/cliparts/f/9/8/1/1216181106356570529jean_victor_balin_icon_star.svg.hi.png" height="22" width="22" class="imagem"> </img>')
			}
		});
	
	};


	$(function(){
		$('.btn-remover  ').click(function(){
			var idFilme = $(this).attr('idFilme');
		
			remover(idFilme);
		});	
	})


	function remover(idFilme){
			$.ajax({
				url:'/deletarFilme?idExcluir=' + idFilme,
				type:'POST'
			}).done(function(resp) {
				alert("filme deletado com sucesso");
				location.reload();
			});
		}
	
	
	
	//$( "div.tumble" ).toggleClass( "bounce" )
	
	
	</script>
	
</html>



 
