<html>

	<head>
		<meta charset="utf-8">
			{{> scripts}}
				
	</head>
	<body>
	
	
	 <div id="wrapper">
	
	 
		 {{> navigation}}
		 

		
		<div id="page-wrapper">

				<div class="container-fluid">

					

					<div class="row">
						<div class="col-lg-6">
								<form action="/filmesSalvos" method="GET">
							

											<h2>Filmes</h2>
											<div class="table-responsive minhaTable">
												<table class="table table-bordered table-hover table-striped ">
													<thead>
														<tr>
															<th>Nome</th>
															<th>Ano de Lancamento</th>
															<th>Genero</th>
															<th>Sinopse</th>
															<th>Imagem</th>
															<th>Nota</th>
														</tr>
													</thead>
													<tbody>
																  
														{{#listafilmes}}
															<tr>
																<td >
																	{{nome}}
																</td> 
																<td>
																	{{ano}}
																</td> 
																<td> 
																	{{genero.descricao}}
																</td>
																<td class="minhaTD" >
																	{{sinopse}}
																</td>
																<td>
																	
																<img src="{{imagem}}" height="100" width="70" class="imagem"> </img>
																</td>
																
																<td>
																	<div class="form-group">
																	
																		<label>Avalie</label>
																			<select name="nota"  id="nota{{id}}" class="form-control">
																				<option> </option>
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																			</select>
																		</div>
																			
																	<input type="button" class="btn-avaliar  btn btn-default" id="botao" value="Avaliar" idFilme="{{id}}">
																</td>
																{{#notaMedia}}
																<td id="media{{id}}">
																	{{notaMedia}}
																</td>
																{{#notaMedia}}	
																
															</tr>
														 {{/listafilmes}}	
													</tbody>
												</table>
											</div>
											
								</form>
						 </div>
					</div>
					
					
					

				<!-- /.container-fluid   -->

			</div>
	
	
		
		</div>
		
	</div>
	{{> scripts2}}
	</body>
	
	
	
	<script>
	
	function avaliar(idFilme){
		$.ajax({
			url:'/avaliar?id=' + idFilme + '&nota='+ $('#nota'+idFilme).val(),
			type:'POST'
		}).done(function(resp) {
			alert("filme avaliado com sucesso");
		
		$('#media'+idFilme).text(resp);
			
		});
	}
	
	
	
	
	$(function(){
		$('.btn-avaliar ').click(function(){
			var idFilme = $(this).attr('idFilme');
		
			avaliar(idFilme);
		});	
	})
	
	
	
	</script>
	
</html>



 
