<html>

	<head>
		<meta charset="utf-8">
			{{> scripts}}
				
	</head>
	<body>
	
	
	 <div id="wrapper">
	
	 
		 {{> navigation}}
		 

		
		<div id="page-wrapper">

				<div class="container-fluid">

					

					<div class="row">
						<div class="col-lg-6">
								<form action="/filmesSalvos" method="GET">
							

											<h2>Filmes</h2>
											<div class="table-responsive minhaTable">
												<table class="table table-bordered table-hover table-striped ">
													<thead>
														<tr>
															<th>Nome</th>
															<th>Ano de Lancamento</th>
															<th>Genero</th>
															<th>Sinopse</th>
															<th>Imagem</th>
															<th>Media de Notas</th>
														</tr>
													</thead>
													<tbody>
																  
														{{#listafilmes}}
															<tr>
																<td class="minhaTD">
																	{{nome}}
																</td> 
																<td>
																	{{ano}}
																</td> 
																<td> 
																	{{genero.descricao}}
																</td>
																<td class="minhaTD" >
																	{{sinopse}}
																</td>
																<td>
																	
																<img src="{{imagem}}" height="100" width="70" class="imagem"> </img>
																</td>
																
																<td class="nota{{id}}">
																	<div class="form-group">
																	
																		<label>Avalie</label>
																			<select name="nota"  id="nota{{id}}" class="form-control">
																				<option> </option>
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																			</select>
																		</div>
																			
																	<input type="button" class="btn-avaliar  btn btn-default" id="botao" value="Avaliar" idFilme="{{id}}">
																	<input type="button" class="btn-media  btn btn-default" id="botaoMedia" value="Media" idFilme="{{id}}">
																</td>
																<td  id="media{{id}}"  style="display: none">
																
																
																
																</td>
																
															</tr>
														 {{/listafilmes}}	
													</tbody>
												</table>
											</div>
											
								</form>
						 </div>
					</div>
					
					
					

				<!-- /.container-fluid   -->

			</div>
	
	
		
		</div>
		
	</div>
	{{> scripts2}}
	</body>
	
	
	
	<script>
	
	function avaliar(idFilme){
		$.ajax({
			url:'/avaliar?id=' + idFilme + '&nota='+ $('#nota'+idFilme).val(),
			type:'POST'
		}).done(function(resp) {
			alert("filme avaliado com sucesso");
			mudaTela(resp , idFilme);

			
	
	
			
			
		});
	}
	
	function buscar(idFilme){
		$.ajax({
			url:'/buscar?id=' + idFilme,
			type:'POST'
		}).done(function(resp) {
			
			mudaTela(resp , idFilme);
		
			
		});
	}
	
	function mudaTela(resp , idFilme){
	
		$('#media'+idFilme).show();
		$(".nota"+idFilme).remove();

		for (var i = 0; i< (5-resp); i++) {
			$('#media'+idFilme).prepend('<img src="http://www.clker.com/cliparts/1/m/K/Y/P/x/star-grey-md.png" height="22" width="22" class="imagem"> </img>')
		}
		for (var i = 0; i< resp; i++) {
			$('#media'+idFilme).prepend('<img src="http://www.clker.com/cliparts/f/9/8/1/1216181106356570529jean_victor_balin_icon_star.svg.hi.png" height="22" width="22" class="imagem"> </img>')

		}
		
	}
	
	
	
	
	
	
	$(function(){
		$('.btn-avaliar ').click(function(){
			var idFilme = $(this).attr('idFilme');
		
			avaliar(idFilme);
		});	
	})
	
	$(function(){
		$('.btn-media  ').click(function(){
			var idFilme = $(this).attr('idFilme');
		
			buscar(idFilme);
		});	
	})
	
	
	//$( "div.tumble" ).toggleClass( "bounce" )
	
	
	</script>
	
</html>



 
